/*--------------------- Layout ----------------------------*/
html { height: 100%; }
body {
  display:block;position:absolute;
  color:#3c3c3c;
  font-family: sans-serif;
  font-size:12px;
  left:50%;margin-left:-270px;
  width:540px;
    background:#4a4b48;
}

#container {
    min-height: 100%;
    margin:0 auto;
    width:640px;
}

img {
    max-width:100%;
}

a {
  color: #000;
}

b, strong {
  font-weight: normal;
}

p, ul, ol {
  margin: 15px 0 15px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #112233;
  line-height: 1em;
  font-weight: normal;
  margin: 30px 0 15px 0;
}

h1 {
  margin-top: 40px;
}

hr {
  border: 0;
  background: 1px solid #ddd;
  height: 1px;
  margin: 20px 0;
}

pre, tt, code {
  font-size: 12px; line-height: 16px;
  font-family: 'M+ 1mn', Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}
  .annotation pre {
    display: block;
    margin: 0;
    padding: 7px 10px;
    background: #fcfdfc;
    overflow-x: auto;
  }
    .annotation pre code {
      border: 0;
      padding: 0;
      background: transparent;
    }


blockquote {
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 1px 0 1px 1em;
}
  .sections blockquote p {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px; line-height: 16px;
    color: #999;
    margin: 10px 0 0;
    white-space: pre-wrap;
  }

ul.sections {
  list-style: none;
  padding:0 0 5px 0;;
  margin:0;
}

/*
  Force border-box so that % widths fit the parent
  container without overlap because of margin/padding.

  More Info : http://www.quirksmode.org/css/box.html
*/
ul.sections > li > div {
  -moz-box-sizing: border-box;    /* firefox */
  -ms-box-sizing: border-box;     /* ie */
  -webkit-box-sizing: border-box; /* webkit */
  -khtml-box-sizing: border-box;  /* konqueror */
  box-sizing: border-box;         /* css3 */
}


/*---------------------- Jump Page -----------------------------*/
#jump_to, #jump_page {
  margin: 0;
  background: white;
  -webkit-box-shadow: 0 0 25px #777; -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;
  font: 16px Arial;
  cursor: pointer;
  text-align: right;
  list-style: none;
}

#jump_to a {
  text-decoration: none;
}

#jump_to a.large {
  display: none;
}
#jump_to a.small {
  font-size: 22px;
  font-weight: bold;
  color: #676767;
}

#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 10px 15px;
  margin:0;
}

#jump_wrapper {
  display: none;
  padding:0;
}

#jump_to:hover #jump_wrapper {
  display: block;
}

#jump_page {
  padding: 5px 0 3px;
  margin: 0 0 25px 25px;
}

#jump_page .source {
  display: block;
  padding: 15px;
  text-decoration: none;
  border-top: 1px solid #eee;
}

#jump_page .source:hover {
  background: #f5f5ff;
}

#jump_page .source:first-child {
}

/*---------------------- Low resolutions (> 320px) ---------------------*/
  .pilwrap { display: none; }

  ul.sections > li > div {
    display: block;
    padding:5px 10px 0 10px;
  }

  ul.sections > li > div.annotation ul, ul.sections > li > div.annotation ol {
    padding-left: 30px;
  }

  ul.sections > li > div.content {
    background: #f5f5f8;
    overflow-x:auto;
    margin:5px 10px 5px 10px;
    padding-bottom: 5px;
  }

  ul.sections > li > div.annotation pre {
    margin: 7px 0 7px;
    padding-left: 15px;
  }

  ul.sections > li > div.annotation p tt, .annotation code {
    background: #f8f8ff;
    border: 1px solid #dedede;
    font-size: 12px;
    padding: 0 0.2em;
  }

/*---------------------- Syntax Highlighting -----------------------------*/

td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #000;
  background: #f8f8ff
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #408080;
  font-style: italic
}

pre .keyword,
pre .assignment,
pre .literal,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .lisp .title,
pre .subst {
  color: #954121;
  /*font-weight: bold*/
}

pre .number,
pre .hexcolor {
  color: #40a070
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #219161;
}

pre .title,
pre .id {
  color: #19469D;
}
pre .params {
  color: #00F;
}

pre .javascript .title,
pre .lisp .title,
pre .subst {
  font-weight: normal
}

pre .class .title,
pre .haskell .label,
pre .tex .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body {
  color: #008080
}

pre .regexp {
  color: #B68
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .lisp .keyword,
pre .tex .special,
pre .input_number {
  color: #990073
}

pre .builtin,
pre .constructor,
pre .built_in,
pre .lisp .title {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}

pre .tex .formula {
  opacity: 0.5;
}

#boite {
  position:fixed;
  left:1%;
  top:1%;
    height:100%;
}

.no-touch a:hover, a:active {
  color:#3c3c3c;
  background:#92e8ff;
}
[id^="example7a-"], .example7a-inside {
  font-family: sans-serif;
  color:rgba(175,175,175,.8);
  border-radius: 15px;
  text-decoration: none;
  width:90px;
  height:110px;
  padding:10px 0px 5px 15px;
  margin:10px;
  font-size:20px;
  background:
radial-gradient(rgba(5,5,5,1) 15%, transparent 16%) 0 0,
radial-gradient(rgba(5,5,5,1) 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:rgba(55,55,55,1);
background-size:8px 8px;
}

.example7a-inside {
  display:block;
  position:relative;
  float:left;
  clear:both;
}
[id^="example7a-"] {
  display:block;
  position:absolute;
}

.no-touch [id^="example7a-"]:hover {
  background:#ffd966;
}

/* scrolls */
#example7a-click-scrollOut {  
  top:222px;
  display:block;
  position:relative;
  float:left;
  width:105px;
  height:11px;
  margin:0px 10px;padding:0px;
  border:0px solid #3c3c3c;
    background-color:rgba(20,20,18,.5);

}
#example7a-click-scrollOut {
  top:90%;
}
#example7a-click-scrollIn {
  color:#3c3c3c;
  border:.5px solid #b3b3b3;
  background: red;

  display:block;
  position:absolute;
  width:40px;
  height:8px;
  background:#181717;
  margin:0px;padding:0px;
}
.no-touch #example7a-click-scrollIn:hover, #example7a-click-scrollIn.active {
  background:#e2e7ce;
}

/* drags */
#example7a-click-dragOut {
  border-radius:20px;
  overflow:hidden;
  float:left;
  width:100%;
  height:100%;
  left:0px;
  margin:0px;padding:0px;
}
#example7a-click-dragIn {
  display:block;
  position:absolute;
  width:1200px;
  height:190px;
  margin:0px;padding:0px;
}

#example7a-click-dragOut {
  height:578px;
  background: transparent;
}
#example7a-click-dragIn {
  border:0px solid #3c3c3c;
  border-radius: 0px;
  background: transparent;
}

