# Mac.
.DS_STORE

# Node.
node_modules
npm-debug.log

# Vim / Emacs / intellij
*~
*.swp
*.swo
*~
*#
.idea

# tmp folders
tmp
# temporary folder for builds
static

# javascript
./*.js
*.map

.yarnclean
yarn-error*
